<a href="https://colab.research.google.com/github/shreya139/Circuits-in-Stocks/blob/main/stocks_data_transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn import preprocessing
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv("https://raw.githubusercontent.com/shreya139/Circuits-in-Stocks/main/DataByMinute.csv.xls")
df.columns=["Datetime","Open","High","Low","Close","Volume","Dividends","Stock Splits"]
df.head()

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-01-20 09:30:00-05:00,93.860001,94.199997,93.730003,93.794998,4760031,0.0,0.0
1,2023-01-20 09:31:00-05:00,93.790001,93.870003,93.519997,93.599403,392428,0.0,0.0
2,2023-01-20 09:32:00-05:00,93.589996,93.790001,93.459999,93.480003,353949,0.0,0.0
3,2023-01-20 09:33:00-05:00,93.489998,93.649902,93.269997,93.610001,239535,0.0,0.0
4,2023-01-20 09:34:00-05:00,93.620003,93.629997,93.430000,93.599998,205441,0.0,0.0

In [ ]:
scaler = MinMaxScaler()
d=scaler.fit_transform(df[["Open","High","Low","Close","Volume","Dividends","Stock Splits"]])
scaled_df = pd.DataFrame(d)
scaled_df.columns=["Open","High","Low","Close","Volume","Dividends","Stock Splits"]
scaled_df["Datetime"]=df["Datetime"]
cols = list(scaled_df.columns)
scaled_df = scaled_df[[cols[-1]]+cols[:-1]]
scaled_df.head()

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-01-20 09:30:00-05:00,0.148148,0.181629,0.130328,0.129951,1.000000,0.0,0.0
1,2023-01-20 09:31:00-05:00,0.130864,0.096005,0.078443,0.081536,0.082442,0.0,0.0
2,2023-01-20 09:32:00-05:00,0.081480,0.075247,0.063619,0.051982,0.074359,0.0,0.0
3,2023-01-20 09:33:00-05:00,0.056789,0.038895,0.016676,0.084159,0.050322,0.0,0.0
4,2023-01-20 09:34:00-05:00,0.088889,0.033731,0.056208,0.081684,0.043160,0.0,0.0

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(15,5))
plt.plot(scaled_df['Datetime'], scaled_df['Open'])
plt.title('Opening Price chart ' + 'Amazon')
plt.show()

NameError: ignored

**NOMARMALIZED DATASETS**

---

In [ ]:
from sklearn import preprocessing
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

**1.1 ADANIPOWER 1 HOUR TIMEFRAME DATASET ,PERIOD FROM 1/01/2022 TO 31/01/2022**

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/shreya139/Circuits-in-Stocks/data/ADANIPOWER.csv")

In [ ]:
df.columns=["Datetime","Open","High","Low","Close","Adj Close","Volume"]
df.head(15)

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2022-01-03 09:15:00+05:30,100.150002,103.699997,100.099998,103.449997,103.449997,0
1,2022-01-03 10:15:00+05:30,103.349998,103.500000,101.699997,102.150002,102.150002,1083865
2,2022-01-03 11:15:00+05:30,102.199997,102.500000,101.300003,101.599998,101.599998,676964
3,2022-01-03 12:15:00+05:30,101.599998,103.900002,101.500000,102.099998,102.099998,1291490
4,2022-01-03 13:15:00+05:30,102.150002,102.300003,101.550003,101.849998,101.849998,654062
5,2022-01-03 14:15:00+05:30,101.699997,101.849998,101.000000,101.199997,101.199997,1208258
6,2022-01-03 15:15:00+05:30,101.300003,101.449997,101.050003,101.050003,101.050003,506359
7,2022-01-04 09:15:00+05:30,102.050003,103.449997,100.099998,101.300003,101.300003,0
8,2022-01-04 10:15:00+05:30,101.300003,101.900002,100.550003,101.400002,101.400002,881699
9,2022-01-04 11:15:00+05:30,101.400002,101.449997,100.349998,101.250000,101.250000,736347
10,2022-01-04 12:15:00+05:30,101.199997,101.250000,100.650002,100.699997,100.699997,394097
11,2022-01-04 13:15:00+05:30,100.699997,100.849998,100.250000,100.650002,100.650002,351336
12,2022-01-04 14:15:00+05:30,100.650002,101.000000,100.449997,100.550003,100.550003,543936
13,2022-01-04 15:15:00+05:30,100.599998,100.699997,100.250000,100.650002,100.650002,419006
14,2022-01-05 09:15:00+05:30,100.800003,101.550003,99.599998,100.199997,100.199997,0

In [ ]:
scaler = MinMaxScaler()
d=scaler.fit_transform(df[["Open","High","Low","Close","Adj Close","Volume"]])
scaled_df = pd.DataFrame(d)
scaled_df.columns=["Open","High","Low","Close","Adj Close","Volume"]
scaled_df["Datetime"]=df["Datetime"]
cols = list(scaled_df.columns)
scaled_df = scaled_df[[cols[-1]]+cols[:-1]]
scaled_df.head(15)

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2022-01-03 09:15:00+05:30,0.002252,0.012168,0.005684,0.012307,0.012307,0.000000
1,2022-01-03 10:15:00+05:30,0.011858,0.011567,0.010470,0.008405,0.008405,0.021179
2,2022-01-03 11:15:00+05:30,0.008406,0.008562,0.009273,0.006754,0.006754,0.013228
3,2022-01-03 12:15:00+05:30,0.006605,0.012769,0.009871,0.008255,0.008255,0.025236
4,2022-01-03 13:15:00+05:30,0.008256,0.007962,0.010021,0.007504,0.007504,0.012780
5,2022-01-03 14:15:00+05:30,0.006905,0.006610,0.008376,0.005553,0.005553,0.023610
6,2022-01-03 15:15:00+05:30,0.005704,0.005408,0.008525,0.005103,0.005103,0.009894
7,2022-01-04 09:15:00+05:30,0.007956,0.011417,0.005684,0.005853,0.005853,0.000000
8,2022-01-04 10:15:00+05:30,0.005704,0.006760,0.007030,0.006153,0.006153,0.017229
9,2022-01-04 11:15:00+05:30,0.006004,0.005408,0.006431,0.005703,0.005703,0.014388
10,2022-01-04 12:15:00+05:30,0.005404,0.004807,0.007329,0.004052,0.004052,0.007701
11,2022-01-04 13:15:00+05:30,0.003903,0.003605,0.006132,0.003902,0.003902,0.006865
12,2022-01-04 14:15:00+05:30,0.003753,0.004056,0.006730,0.003602,0.003602,0.010629
13,2022-01-04 15:15:00+05:30,0.003603,0.003155,0.006132,0.003902,0.003902,0.008187
14,2022-01-05 09:15:00+05:30,0.004203,0.005708,0.004188,0.002551,0.002551,0.000000

**1.1  1 HOUR TIMEFRAME DATASET ,PERIOD FROM 1/01/2022 TO 31/01/2022**